.login-box {
  max-width: 900px;
  float: none;
  margin: 100px auto;
}

#head {
  background: tomato;
  color: white;
  padding: 10px;
  text-align: center;
}

.login-left {
  background: rgba(211, 211, 211, 0.5);
  padding: 40px;
}

h1 {
  color: black !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  text-align: center;
  text-transform: uppercase;
}

.input_value {
  margin: auto;
  margin-bottom: 10px;
}

button.btn.btn-primary,
button.btn.btn-secondary {
  width: 100%;
}
